OPENAI_API_KEY=
OPENAI_MODEL=gpt-6-astra
AI_REQUEST_TIMEOUT_MS=600000
ASSEMBLAVATAR_DATA_DIR=./data
ASSEMBLAVATAR_HOST=127.0.0.1
ASSEMBLAVATAR_PORT=3000
MAX_UPLOAD_SIZE_MB=30
MAX_GENERATION_ITERATIONS=4
MAX_PROGRAM_REPAIR_ATTEMPTS=3
MAX_SOURCE_SIZE_KB=500
MAX_TRIANGLE_COUNT=300000
MAX_OBJECT_COUNT=1000
SANDBOX_TIMEOUT_MS=10000
SANDBOX_MEMORY_MB=128
